DB_URL=jdbc:mysql://localhost:3306/ssafy_home?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=
DB_PASSWORD=

OPENAPI_DATA_SERVICE_KEY=
OPENAPI_ITS_API_KEY=
OPENAPI_KAKAO_JAVASCRIPT_KEY=
OPENAPI_KAKAO_REST_KEY=
OPENAPI_CHAT_GPT=
OPENAPI_CHAT_GPT_BASE_URL=https://api.openai.com
OPENAPI_CHAT_GPT_COMPLETIONS_PATH=/v1/chat/completions
OPENAPI_CHAT_GPT_EMBEDDINGS_PATH=/v1/embeddings
OPENAPI_CHAT_GPT_MODEL=gpt-4o-mini
OPENAPI_CHAT_GPT_EMBEDDING_MODEL=text-embedding-3-small
OPENAPI_BUS_SERVICE_KEY=
OPENAPI_FINLIFE_AUTH=
